.venv
venv
tests
docs
build/
dist/
.mypy_cache/
.ruff_cache/
.coverage*
.git*
*.egg-info
**/__pycache__
**/*.o
**/*.so
**/*.dylib
**/libnnueprobe
**/__pycache__/
**/.env
**/.DS_Store
**/.pytest_cache/
**/.vscode/
**/*.pyc
**/.ipynb_checkpoints/
